.offer-more {
	text-align: center;
	color: #ffffff;
	background: $navy 50% 50% no-repeat;
	background-image: url(../images/bg-offer-more.svg);
	background-size: cover;
	padding: 240px 0;

	h2 {
		color: #ffffff;
	}

	p:last-child {
		padding-top: 15px;
		color: #76e1a6;

		a {
			position: relative;
			color: #76e1a6;
			padding-bottom: 8px;
			border-bottom: solid 1px rgba(118, 225, 166, .5);
			transition: border-bottom-color .4s;

			&:hover {
				opacity: 1;
				border-bottom-color: #76e1a6;
			}
		}
	}

	@media all and(max-width: 1024px) {
		background-image: url(../images/bg-offer-more-1024.svg);
		background-size: cover;
		padding: 200px 0;
	}

	@media all and(max-width: 736px) {
		background-image: url(../images/bg-offer-more-736.svg);
		background-size: cover;
		padding: 100px 0;
	}

	@media all and(max-width: 568px) {
		background: $navy;
		padding: 70px 0;
	}
}
