// Fonts Variables
$sans-serif: 'Work Sans', Helvetica, sans-serif;
$header: 'Poppins', Georgia, serif;

$primary-font: $sans-serif;
$secondary-font: $header;

// Colors
$navy: #3634a3;
$light-grey: #404040;
$blue: #3586ff;

$color-text: $light-grey;
$color-link: $blue;
